{% if games %}
    {%for game in games %}
        <div class="col-sm-4 text-center m-1">
            <div class="card-img-top" style="width: 250px; margin: auto;">
                <a href=" {% url 'store:detail' game_id=game.id %} ">
                    <img class="img-responsive" src="{{ game.picture }}" alt="{{ game.title }}">
                </a>
            </div>
                <h3 class="card-title"><a href="{% url 'store:detail' game_id=game.id %}"> {{ game.title }} </a></h3>

                {% for creator in game.creators.all %}
                    {% if forloop.first %}
                        <p> {{ creator.name }} </p>
                    {% endif %}
                {% endfor %}
                {%if game.available == True %}
                    <p class="text-success">Disponible</p>
                {% else %}
                    <p class="text-danger">Indisponible</p>
                {% endif %}

        </div>
        {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
    {% endfor %}
{% else %}
     <div class="text-center">
        Il n'y aucun résultat lié à cette requête...
    </div>
{% endif %}

