{% extends 'store/base.html' %}

{% block content %}
    <hr>
    <h1 class="intro-text text-center">Merci !</h1>
    <hr class="detail-separator">
    <p>Le jeu <em>{{ game_title }}</em> vient d'être retiré des rayonnages. Une main délicate a déposé votre nom sur sa couverture et l'a rangé en vous attendant.</p>
    <hr>
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"width="560" height="315" src="https://www.youtube.com/embed/PVDgHsPhQrE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}